# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# JEI의 고급 기능들에 대해 설정합니다.
##########################################################################################################

advanced {
    # 아이템 목록에 표시하지 않을 아이템들의 목록입니다. 형식: modId[:이름[:메타데이터]]. 수정 모드는 자동으로 항목을 추가/삭제할 것입니다. [기본값: []]
    S:itemBlacklist <
     >
}


