# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# HEI의 고급 기능들에 대해 설정합니다.
##########################################################################################################

advanced {
    # 활성화시 새 북마크를 북마크 목록 맨 앞에 추가합니다. [default: false]
    B:addBookmarksToFront=false

    # 검색 트리를 여러 스레드에서 동시에 빌드합니다. HEI를 불러오는 중 비정상적으로 높은 CPU 부하가 걸린다면 이 옵션을 끄세요. [default: true]
    B:asyncSearchTreeBuilding=true

    # HEI의 검색 창을 아래쪽 중앙으로 이동합니다. [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # HEI가 아이템을 인벤토리에 바로 지급할지(inventory), 아니면 커서가 아이템을 잡게 할 지(mouse_pickup) 결정합니다.
    # [기본값: mouse_pickup]
    # [현재: [inventory, mouse_pickup]]
    S:giveMode=MOUSE_PICKUP

    # 재료 목록의 최대 너비를 설정합니다 [range: 4 ~ 100, default: 100]
    I:maxColumns=100

    # 조합법 창의 최대 높이를 설정합니다. [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # HEI 창에서 모드 이름의 표시 양식을 설정합니다. 양식을 지우려면 빈칸으로 두세요. [기본값: blue italic] [현재: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=blue italic
    B:optimizeMemoryUsage=true

    # 메모리 최대 절약모드를 활성화합니다. 검색이 매우 느려질 수 있습니다. [default: false]
    B:ultraLowMemoryUsage=true
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# HEI의 기타 설정들입니다.
##########################################################################################################

misc {
    # 비활성화시 재료를 클릭해도 아이템의 제작/사용법을 표시하지 않습니다. [default: true]
    B:mouseClickToSeeRecipes=true

    # Show user-hidden ingredients when the player is in creative mode [default: false]
    B:showHiddenIngredientsInCreative=false

    # 툴팁에 레시피가 언제 변경되었는지 표시합니다. [default: true]
    B:tooltipShowRecipeBy=true
}


rendering {
    # 렌더 버퍼를 이용하여 지나치게 잦은 아이템 렌더링 호출을 막습니다. 메뉴 프레임이 2배~3배 향상되나 마법 부여 효과나 애니메이션이 정상적으로 동작하지 않을 것입니다. [default: false]
    B:bufferIngredientRenders=false
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# 검색에 관련된 설정들입니다.
##########################################################################################################

search {
    # "^"를 붙여 아이템 색깔로 검색합니다.
    # [기본값: disabled]
    # [현재: [enabled, require_prefix, disabled]]
    S:colorSearchMode=DISABLED

    # "%"를 붙여 크리에이티브 탭 이름으로 검색합니다.
    # [기본값: disabled]
    # [현재: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=DISABLED

    # "@" 를 모드 이름 앞에 붙여 모드 이름을 기준으로 검색할 수 있도록 합니다.
    # [기본값: require_prefix]
    # [현재: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # "$"를 붙여 광물 사전을 검색합니다.
    # [기본값: disabled]
    # [현재: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=DISABLED

    # "&"를 붙여 리소스 ID로 검색합니다.
    # [기본값: disabled]
    # [현재: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=DISABLED

    # 검색 트리에 고급 툴팁을 포함시킵니다. [검색 트리를 다시 불러옵니다!] [default: false]
    B:searchAdvancedTooltips=true

    # 검색 트리에 다이어크리틱/발음 구별 기호를 제거한 문자열을 포함시킵니다. [검색 트리를 다시 불러옵니다!] [default: false]
    B:searchStrippedDiacritics=false

    # "#"를 붙여 툴팁 내용을 검색할 수 있도록 합니다.
    # [기본값: enabled]
    # [현재: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=ENABLED
}


searchadvancedtooltips {
    B:search=false
}


