# Configuration file

~CONFIG_VERSION: 0.1.0

world-101820549 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1047796479 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1083465180 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1246936014 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-129127582 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1327865658 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1334272381 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-143678577 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1610022861 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1689393850 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-172347220 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1728415154 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1735051857 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1798310463 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1837471962 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=좀비
    B:overlayEnabled=true
}


world-1880991548 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1903027372 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1930205306 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1945222239 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=asdfㅁㄴㅇㄹ
    B:overlayEnabled=true
}


world-1960582171 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1965965473 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=모래
    B:overlayEnabled=true
}


world-1974054333 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=ameth
    B:overlayEnabled=true
}


world-1983426646 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-34224696 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=cod
    B:overlayEnabled=true
}


world-350701718 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-446501503 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-448726987 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-451028112 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=함정
    B:overlayEnabled=true
}


world-507884986 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-631268362 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-782084385 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1031392878 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world103669 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world104 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1051365773 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1128570218 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world113318802 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world119 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1270266424 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=medal
    B:overlayEnabled=true
}


world1304945543 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1354381399 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1439641516 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1472004152 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1508025261 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1588172514 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1600 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1667340446 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1747575703 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=cam
    B:overlayEnabled=true
}


world1877655596 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1878047564 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1995629771 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2015460876 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2043584565 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2044281 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2089640020 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2130233656 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world231154462 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2404129 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=reds
    B:overlayEnabled=true
}


world2459404 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world38411699 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world49 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world512048905 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world539930318 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world572770538 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world587658620 {
    # 열린 GUI 옆에 북마크 목록을 표시합니다.
    B:bookmarkOverlayEnabled=true

    # 아이템의 조합법을 보여주는 대신 아이템을 얻습니다.
    B:cheatItemsEnabled=true

    # 메뉴에서 유체 재료를 클릭할 시 표시할 기본 유체 보관 아이템을 지정합니다, (형식: 아이템 이름@메타데이터)
    S:defaultFluidContainerItem=

    # 아이템 리스트에서 선택하여 아이템을 숨기고 보입니다.
    B:editEnabled=false
    S:filterText=

    # 아이템들의 목록을 열려 있는 GUI 옆에 엽니다.
    B:overlayEnabled=true
}


world613562225 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world672115334 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world67407741 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world71893 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world82327 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world844131637 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world860345107 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world878791799 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=스파
    B:overlayEnabled=true
}


world901756399 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world907621995 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world999540516 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


