# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:ASTRYXION <ASTRYXION:ASTRYXION.cfg>
    S:BEETHOVEN92 <BEETHOVEN92:BEETHOVEN92.cfg>
    S:BOBMOWZIE <BOBMOWZIE:BOBMOWZIE.cfg>
    S:BONI <BONI:BONI.cfg>
    S:CN <CN:CN.cfg>
    S:COROUTIL <COROUTIL:COROUTIL.cfg>
    S:DHANANTRY <DHANANTRY:DHANANTRY.cfg>
    S:DRONES <DRONES:DRONES.cfg>
    S:EXAMPLE <EXAMPLE:EXAMPLE.cfg>
    S:FISHMOD <FISHMOD:FISHMOD.cfg>
    S:FOSSILSARCHEOLOGY <FOSSILSARCHEOLOGY:FOSSILSARCHEOLOGY.cfg>
    S:GAIA <GAIA:GAIA.cfg>
    S:GIT <GIT:GIT.cfg>
    S:GOODBIRD <GOODBIRD:GOODBIRD.cfg>
    S:IKARA <IKARA:IKARA.cfg>
    S:IO <IO:IO.cfg>
    S:ITS_MEOW <ITS_MEOW:ITS_MEOW.cfg>
    S:LYCANITESMOBS <LYCANITESMOBS:LYCANITESMOBS.cfg>
    S:MCREATOR <MCREATOR:MCREATOR.cfg>
    S:NEFDECOMOD <NEFDECOMOD:NEFDECOMOD.cfg>
    S:NOPPES <NOPPES:NOPPES.cfg>
    S:PAULEVS <PAULEVS:PAULEVS.cfg>
    S:SIRSQUIDLY <SIRSQUIDLY:SIRSQUIDLY.cfg>
    S:STEPSWORD <STEPSWORD:STEPSWORD.cfg>
    S:SUIKE <SUIKE:SUIKE.cfg>
    S:THEDARKCOLOUR <THEDARKCOLOUR:THEDARKCOLOUR.cfg>
    S:UNORIGINAL <UNORIGINAL:UNORIGINAL.cfg>
    S:UPSIDEDOWN <UPSIDEDOWN:UPSIDEDOWN.cfg>
    S:drzhark <MOC:MoCreatures.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


