# Configuration file

####################
# spawnlist
####################

spawnlist {
    S:witchhut <>
}


####################
# witchhut
####################

witchhut {
    ####################
    # spawnentries
    ####################

    spawnentries {
    }

}


