# Configuration file

####################
# babyglowsquid
####################

babyglowsquid {
    S:biomegroups <BABYGLOWSQUID_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATER_CREATURE
}


####################
# babysquid
####################

babysquid {
    S:biomegroups <BABYSQUID_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATER_CREATURE
}


####################
# clam
####################

clam {
    S:biomegroups <CLAM_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# cod
####################

cod {
    S:biomegroups <COD_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=7
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# crab
####################

crab {
    S:biomegroups <CRAB_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# dolphin
####################

dolphin {
    S:biomegroups <DOLPHIN_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# drowned
####################

drowned {
    S:biomegroups <DROWNED_DEFAULT>
    B:canSpawn=true
    I:frequency=3
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# drownedsummon
####################

drownedsummon {
    S:biomegroups <DROWNEDSUMMON_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# glowsquid
####################

glowsquid {
    S:biomegroups <GLOWSQUID_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATER_CREATURE
}


####################
# lobster
####################

lobster {
    S:biomegroups <LOBSTER_DEFAULT>
    B:canSpawn=true
    I:frequency=3
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# pickled
####################

pickled {
    S:biomegroups <PICKLED_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# pufferfish
####################

pufferfish {
    S:biomegroups <PUFFERFISH_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# salmon
####################

salmon {
    S:biomegroups <SALMON_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# tropicalfish
####################

tropicalfish {
    S:biomegroups <TROPICALFISH_DEFAULT>
    B:canSpawn=true
    I:frequency=30
    I:maxChunk=20
    I:maxLightlevel=-1
    I:maxSpawn=8
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=8
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# tropicalslime
####################

tropicalslime {
    S:biomegroups <TROPICALSLIME_DEFAULT>
    B:canSpawn=true
    I:frequency=6
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# turtle
####################

turtle {
    S:biomegroups <TURTLE_DEFAULT>
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


