# Configuration file

####################
# baby
####################

baby {
    S:biomegroups <BABY_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigcharger
####################

bigcharger {
    S:biomegroups <BIGCHARGER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigflyer
####################

bigflyer {
    S:biomegroups <BIGFLYER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigmother
####################

bigmother {
    S:biomegroups <BIGMOTHER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigshadowcharger
####################

bigshadowcharger {
    S:biomegroups <BIGSHADOWCHARGER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigshadowhybrid
####################

bigshadowhybrid {
    S:biomegroups <BIGSHADOWHYBRID_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigshadowshooter
####################

bigshadowshooter {
    S:biomegroups <BIGSHADOWSHOOTER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigshooter
####################

bigshooter {
    S:biomegroups <BIGSHOOTER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# bigstriker
####################

bigstriker {
    S:biomegroups <BIGSTRIKER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# charger
####################

charger {
    S:biomegroups <CHARGER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# chargerscout
####################

chargerscout {
    S:biomegroups <CHARGERSCOUT_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# flyer
####################

flyer {
    S:biomegroups <FLYER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# hybrid
####################

hybrid {
    S:biomegroups <HYBRID_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# immortal
####################

immortal {
    S:biomegroups <IMMORTAL_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# mother
####################

mother {
    S:biomegroups <MOTHER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# scout
####################

scout {
    S:biomegroups <SCOUT_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# scoutcharger
####################

scoutcharger {
    S:biomegroups <SCOUTCHARGER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# scoutshadow
####################

scoutshadow {
    S:biomegroups <SCOUTSHADOW_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# shadowcrouching
####################

shadowcrouching {
    S:biomegroups <SHADOWCROUCHING_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# shadowscout
####################

shadowscout {
    S:biomegroups <SHADOWSCOUT_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# shadowstanding
####################

shadowstanding {
    S:biomegroups <SHADOWSTANDING_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# shooter
####################

shooter {
    S:biomegroups <SHOOTER_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# strikercrawling
####################

strikercrawling {
    S:biomegroups <STRIKERCRAWLING_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# strikercrouching
####################

strikercrouching {
    S:biomegroups <STRIKERCROUCHING_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# strikerstanding
####################

strikerstanding {
    S:biomegroups <STRIKERSTANDING_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# tank
####################

tank {
    S:biomegroups <TANK_DEFAULT>
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


