# Configuration file

general {
    # Config Versions help inform modpack makers/config users if changes have been made to the config between updates. These differ from main versioning, since the config file is static.
    # Basically, you compare the current default of this value, to the default of when you generated it.
    # 
    # The versioning follows:
    # 0.0.x - Default values have been slightly adjusted.
    # 0.x.0 - Config options have been added.
    # x.0.0 - Previous Config Options have been completely overhauled and/or removed. Creating a fresh file is recommended.
    S:configVersion=1.0.0

    ##########################################################################################################
    # animations
    #--------------------------------------------------------------------------------------------------------#
    # Config for Animations
    ##########################################################################################################

    animations {
        # Enabled custom First Person Swing animations for the items which have it.
        B:enableFirstPersonSwing=true

        # Enabled custom First Person Use animations for the items which have it.
        B:enableFirstPersonUse=true

        # Enabled custom Third Person Holding animations for the items which have it. This includes LayerItem adjustments.
        B:enableThirdPersonHolding=true

        # Enabled custom Third Person Swing animations for the items which have it. This includes LayerItem adjustments.
        B:enableThirdPersonSwing=true

        # Enabled custom Third Person Use animations for the items which have it. This includes LayerItem adjustments.
        B:enableThirdPersonUse=true
    }

    ##########################################################################################################
    # block
    #--------------------------------------------------------------------------------------------------------#
    # Config for Blocks
    ##########################################################################################################

    block {

        ##########################################################################################################
        # shearedcactus
        #--------------------------------------------------------------------------------------------------------#
        # Config for Sheared Cactus
        ##########################################################################################################

        shearedcactus {
            # Enable Sheared Cactus.
            B:enable=true
        }

    }

    ##########################################################################################################
    # item
    #--------------------------------------------------------------------------------------------------------#
    # Config for Items
    ##########################################################################################################

    item {

        ##########################################################################################################
        # battleaxe
        #--------------------------------------------------------------------------------------------------------#
        # Config for Battleaxes
        ##########################################################################################################

        battleaxe {
            # Allows Sword Enchantments on the Battleaxe.
            B:acceptsSwordEnchantments=true

            # Registers Mining Forks. Formatted as "[Name]-[Durability]-[Attack Damage]-[Attack Speed]-[Base Swing Knockback]-[Upward Swipe Cooldown]"
            S:battleaxeTypes <
                wooden-59-7-0.8-0.5-80
                stone-131-9-0.8-0.5-80
                iron-250-9-0.9-0.5-80
                golden-32-7-1-0.5-80
                diamond-1561-9-1-0.5-80
             >

            # Damages the Battleaxe per each entity hit by the secondary swipe.
            B:damagePerSwipeHit=true

            # Enables the secondary upward swipe attack.
            B:enableSecondaryAttack=true

            # How many ticks are removed from the secondary attack cooldown by each level of Sweeping Edge. Set to 0 to disable.
            I:sweepingLvlCooldownDecrease=10
        }

        ##########################################################################################################
        # bootsofswiftness
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Boots of Swiftness
        ##########################################################################################################

        bootsofswiftness {
            # The Armor Value of the Boots of Swiftness.
            # Min: 0
            # Max: 2147483647
            I:armorValue=0

            # The chance (in percent) to find the Boots of Swiftness in a Dungeon chest.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:dungeonChestChance=5.0

            # The Durability of the Boots of Swiftness.
            # Min: 0
            # Max: 2147483647
            I:durability=0

            # Enable the Boots of Swiftness.
            B:enable=true

            # The level of the Speed given by the Boots. -1 Disables the Speed.
            # Min: 0
            # Max: 255
            I:speedLevel=2

            # How long the Boots' Speed effect is given (in ticks).
            # Min: -1
            # Max: 2147483647
            I:speedTime=200

            # How long the Boots' Speed is on Cooldown (in ticks). -1 disables the Speed.
            # Min: -1
            # Max: 2147483647
            I:sprintCooldown=600
        }

        ##########################################################################################################
        # buckchuckets
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Buck-Chuckets
        ##########################################################################################################

        buckchuckets {
            # The base Attack Damage of the Buck-Chuckets.
            D:attackDamage=3.0

            # The base Attack Speed of the Buck-Chuckets.
            D:attackSpeed=3.0

            # The max Durability of the Buck-Chuckets.
            # Min: 0
            # Max: 2147483647
            I:durability=320

            # Enable the Buck-Chuckets.
            B:enable=true
        }

        ##########################################################################################################
        # cactusball
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Cactus Ball
        ##########################################################################################################

        cactusball {
            # Adds effects when the Cactus Ball breaks.
            B:addBreakEffects=true

            # Allows the Cactus Ball to be burnt away.
            B:burnable=true

            # The range of the Cactus Balls' attack.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:damageArea=1.5

            # Enable the Cactus Ball.
            B:enable=true

            # Adds a hit sound when the Cactus Ball harms an entity.
            B:hitSound=true

            # Adds an item cooldown (in ticks) upon throwing, to prevent spamming.
            # Min: 0
            # Max: 2147483647
            I:itemCooldown=10

            # How long the Cactus Ball exists upon landing. Note this is in ticks (20 = 1 second)
            # Min: 0
            # Max: 2147483647
            I:landedLifeTicks=600

            # How much max damage the Cactus Ball is allowed to deal before being removed.
            # Min: 0
            # Max: 2147483647
            I:maxDamageDealt=10

            # Makes the Cactus Ball not harm the original Thrower.
            B:ownerImmune=false

            # Makes the Cactus Ball not harm any Players.
            B:playersImmune=false

            # Forces Cactus Balls to snap to the top of the impacted block. Note, this requires SnapToGrid to also be true. 
            B:snapAtopBlocks=false

            # Snaps the Cactus Ball rotation to straight up when landing.
            B:snapRotation=true

            # Snaps the Cactus Ball to the center of the block it hits.
            B:snapToGrid=false
        }

        ##########################################################################################################
        # divinitescrap
        #--------------------------------------------------------------------------------------------------------#
        # Config for Divinite Scrap
        ##########################################################################################################

        divinitescrap {
            # The chance (in percent) to find the Divinite Scrap in a Nether Fortress chest.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:dungeonChestChance=2.0

            # Enable the Divinite Scrap.
            B:enable=true
        }

        ##########################################################################################################
        # lavachicken
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Lava Chicken
        ##########################################################################################################

        lavachicken {
            # Enables the Lava Chicken as always edible.
            B:alwaysEdible=true

            # Enable the Lava Chicken.
            B:enable=true

            # How long the Spicy Sprint lasts upon eating the Chicken. Note this is in ticks (20 = 1 second)
            # Min: 0
            # Max: 2147483647
            I:spicySprintDuration=100

            # Enables the placement of Fire during a Spicy Sprint.
            B:spicySprintFireTrail=true
        }

        ##########################################################################################################
        # mushroomhat
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Mushroom Hat
        ##########################################################################################################

        mushroomhat {
            # The Armor Value of the Mushroom Hat.
            I:armorValue=0

            # The Durability of the Mushroom Hat.
            # Min: 0
            # Max: 2147483647
            I:durability=0

            # Enable the Mushroom Hat.
            B:enable=true

            # Spawns Spore particles when worn.
            B:spawnSpores=true
        }

        ##########################################################################################################
        # potatolauncher
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Potato Launcher
        ##########################################################################################################

        potatolauncher {
            # Ammos the Potato Launcher can be loaded with. Any missing variables are set to default values (matching the Tater Tots).
            # Formatted as "[Item Stack]-[Attack Damage]-[Charged Quantity]-[Velocity]-[Inaccuracy]-[Knockback]-[Behavior]-[Rendered Item Stack]"
            # 
            # [Item Stack] - The item used as ammo.
            # [Attack Damage] - How much Damage it deals on impact.
            # [Charged Quantity] - How many items are shot in a full charge burst.
            # [Velocity] - The velocity (speed) of the shot projectile.
            # [Inaccuracy] - The inaccuracy of the shot projectile.
            # [Knockback] - The knockback of the shot projectile.
            # [Behavior] - Replaces the projectile/alter the behavior:
            #    'DEFAULT' - The base projectile, which shoots and disposes of the ammo.
            #    'CACTUS_BALL' - Fires a Cactus Ball.
            #    'THROWN_SPEAR' - Fires a Thrown Spear. [Item Stack] is the held item, [Attack Damage] is the impact damage.
            #    'DOMINANCE_PROJECTILE' - Fires a Dominance Projectile. [Attack Damage] is the explosion power.
            #    'ENDER_PEARL' - Fires an Ender Pearl.
            #    'EGG' - Fires an Egg.
            #    'FALLING_BLOCK' - Fires a Falling Block. [Item Stack] is required to be a proper ItemBlock.
            #    'FIREBALL_LARGE' - Fires a Fireball. [Attack Damage] is the explosion power.
            #    'FIREBALL_SMALL' - Fires a Small Fireball.
            #    'ITEM' - Fires an Item Entity. [Item Stack] is the held item.
            #    'PRIMED_TNT' - Fires a Primed TNT. [Attack Damage] is the fuse time.
            #    'SNOWBALL' - Fires a Snowball.
            # [Rendered Item Stack] - Replaces the DEFAULT projectile's rendered Item Stack.
            S:ammoTypes <
                squidly_minecraft_movie_mod:tater_tots-1-5-2.25-1-1
                minecraft:potato-5-5-2-1.5-0.75
                minecraft:poisonous_potato-5-5-2-1.5
                minecraft:ender_pearl-0-1-6-1-0-ENDER_PEARL
             >

            # Makes the Potato Launcher consume ammo in Creative Mode.
            B:creativeConsumesAmmo=false

            # The Durability of the Potato Launcher.
            # Min: 0
            # Max: 2147483647
            I:durability=320

            # Enable the Potato Launcher.
            B:enable=true

            # Enables the Charge Burst Fire.
            B:enableChargeBurstFire=true

            # Only allows the Potato Launcher's delayed firing to complete if held.
            B:firingRequiresSelection=true
        }

        ##########################################################################################################
        # saxophone
        #--------------------------------------------------------------------------------------------------------#
        # Config for Saxophone
        ##########################################################################################################

        saxophone {
            # The chance (in percent) to find the Saxophone in a Woodland Mansion chest.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:dungeonChestChance=2.0

            # The Durability of the Saxophone.
            # Min: 0
            # Max: 2147483647
            I:durability=250

            # Enable the Saxophone.
            B:enable=true

            # The range of the knockback pulse.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:pulseRange=8.0

            # The time between each knockback pulse. Note there is a 10 tick delay before the pulse timer, to prevent hot-swap using.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:pulseTimer=20.0
        }

        ##########################################################################################################
        # throwingspear
        #--------------------------------------------------------------------------------------------------------#
        # Config for Javelins
        ##########################################################################################################

        throwingspear {
            # Damages the Thrown Spear item on entity hit and on block hit.
            B:damageThrownSpearItem=true

            # Enables Throwing the Throwing Spears... wait why would this ever be off?
            B:enableThrowable=true

            # Renders the Thrown Spear in full bright.
            B:renderThrownFullbright=false

            # Registers Spear Types. Any missing variables are set to default values (matching the Wooden Spear).
            # Formatted as "[Name]-[Durability]-[Attack Damage]-[Attack Speed]-[Thrown Attack Damage]-[Thrown Velocity]-[Thrown Inaccuracy]"
            S:spearTypes <
                wooden-16-6-0.8-12-1.75-0
                stone-34-8-0.8-16
                iron-64-8-0.9-16
                golden-10-6-1-12
                diamond-391-8-1-16
             >
        }

        ##########################################################################################################
        # tatertots
        #--------------------------------------------------------------------------------------------------------#
        # Config for Tater Tots
        ##########################################################################################################

        tatertots {
            # The Durability of the Saxophone.
            # Min: 0
            # Max: 2147483647
            I:eatTime=16

            # Enable the Tater Tots.
            B:enable=true

            # The Durability of the Saxophone.
            # Min: 0
            # Max: 2147483647
            I:hunger=1

            # The chance (in percent) to find the Divinite Scrap in a Nether Fortress chest.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:saturation=0.10000000149011612
        }

    }

}


