# Configuration file

general {
    # Current default setup for key bindings. It will be applied if option.txt does not exist.
    # DO NOT TRY TO MODIFY THIS MANUALLY! USE THE CONFIG GUI IN GAME INSTEAD!
    S:default_key_setup <
        key.attack=-100:NONE
        key.use=-99:NONE
        key.forward=17:NONE
        key.left=30:NONE
        key.back=31:NONE
        key.right=32:NONE
        key.jump=57:NONE
        key.sneak=42:NONE
        key.sprint=29:NONE
        key.drop=16:NONE
        key.inventory=18:NONE
        key.chat=28:NONE
        key.playerlist=15:NONE
        key.pickItem=-98:NONE
        key.command=53:NONE
        key.screenshot=60:NONE
        key.togglePerspective=63:NONE
        key.smoothCamera=0:NONE
        key.fullscreen=87:NONE
        key.spectatorOutlines=0:NONE
        key.swapHands=33:NONE
        key.saveToolbarActivator=0:NONE
        key.loadToolbarActivator=0:NONE
        key.advancements=34:NONE
        key.hotbar.1=2:NONE
        key.hotbar.2=3:NONE
        key.hotbar.3=4:NONE
        key.hotbar.4=5:NONE
        key.hotbar.5=6:NONE
        key.hotbar.6=7:NONE
        key.hotbar.7=8:NONE
        key.hotbar.8=9:NONE
        key.hotbar.9=10:NONE
        of.key.zoom=46:NONE
        equipmentcompare.key.showTooltips=42:NONE
        Up=0:NONE
        Down=0:NONE
        Left/Back=0:NONE
        Right=0:NONE
        Select=0:NONE
        Jump=0:NONE
        key.mclib.dashboard=0:NONE
        cos.key.opencosarmorinventory=0:NONE
        Quest Log=0:NONE
        key.fart.desc=0:NONE
        key.mount.dismount=0:NONE
        key.mount.descend=0:NONE
        key.mount.ability=0:NONE
        key.mount.inventory=0:NONE
        key.index=0:NONE
        key.beastiary=0:NONE
        key.pets=0:NONE
        key.summoning=0:NONE
        key.minions=0:NONE
        MoCreatures Dive=0:NONE
        MoCreatures GUI=0:NONE
        Toggle Raw Input=0:NONE
        Rescan Key=0:NONE
        key.wings.fly=19:NONE
        smoothfont.key.guiOpen=66:NONE
        key.jei.toggleOverlay=24:CONTROL
        key.jei.focusSearch=33:CONTROL
        key.jei.toggleCheatMode=0:NONE
        key.jei.toggleEditMode=0:NONE
        key.jei.showRecipe=19:NONE
        key.jei.showUses=22:NONE
        key.jei.recipeBack=14:NONE
        key.jei.previousPage=201:NONE
        key.jei.nextPage=209:NONE
        key.jei.bookmark=30:NONE
        key.jei.toggleBookmarkOverlay=0:NONE
        key.metamorph.action=0:NONE
        key.metamorph.creative_menu=0:NONE
        key.metamorph.selector_menu=0:NONE
        key.metamorph.survival_menu=0:NONE
        key.metamorph.demorph=0:NONE
        chunkloaders.keys.open_screen=0:NONE
        key.mod_lavacow.special=0:NONE
        key.mod_lavacow.down=0:NONE
        Toggle AutoFish§r=51:NONE
        gnetum.config.keyMapping=207:NONE
        key.itemzoom.toggle=0:NONE
        key.itemzoom.hold=0:NONE
        key.itemzoom.zoom.in=0:NONE
        key.itemzoom.zoom.out=0:NONE
        options.narrator=0:NONE
        xreliquary.keybind.fortune_coin=0:NONE
        Camera left=203:CONTROL
        Camera right=205:CONTROL
        Camera closer=200:SHIFT
        Camera farther=208:SHIFT
        Camera up=200:CONTROL
        Camera down=208:CONTROL
        Swap shoulder=0:NONE
        Toggle perspective=47:NONE
        WorldEdit Reference=38:NONE
        worldeditcuife3.key.cui.options=0:NONE
        worldeditcuife3.key.cui.toggle.visibility=0:NONE
        worldeditcuife3.key.cui.clear.selection=0:NONE
        worldeditcuife3.key.chunk.toggle.visibility=62:NONE
        worldeditcuife3.key.distance.toggle.visibility=37:NONE
        gui.xaero_minimap_settings=21:NONE
        gui.xaero_zoom_in=0:NONE
        gui.xaero_zoom_out=0:NONE
        gui.xaero_new_waypoint=48:NONE
        gui.xaero_waypoints_key=22:NONE
        gui.xaero_enlarge_map=44:NONE
        gui.xaero_toggle_map=0:NONE
        gui.xaero_toggle_waypoints=0:NONE
        gui.xaero_toggle_map_waypoints=0:NONE
        gui.xaero_toggle_slime=0:NONE
        gui.xaero_toggle_grid=0:NONE
        gui.xaero_instant_waypoint=78:NONE
        gui.xaero_switch_waypoint_set=0:NONE
        gui.xaero_display_all_sets=0:NONE
        gui.xaero_toggle_light_overlay=0:NONE
        gui.xaero_toggle_entity_radar=0:NONE
        gui.xaero_reverse_entity_radar=0:NONE
        gui.xaero_toggle_manual_cave_mode=0:NONE
        gui.xaero_alternative_list_players=0:NONE
        gui.xaero_toggle_tracked_players_on_map=0:NONE
        gui.xaero_toggle_tracked_players_in_world=0:NONE
        gui.xaero_open_map=50:NONE
        gui.xaero_open_settings=27:NONE
        gui.xaero_map_zoom_in=0:NONE
        gui.xaero_map_zoom_out=0:NONE
        gui.xaero_quick_confirm=54:NONE
        gui.xaero_toggle_dimension=0:NONE
        key.entityculling.toggle=-1:NONE
     >

    # DKS mod relies on the existence of the options.txt file to detect whether it is a fresh
    # startup of the game. But mods like Default Options will generate this file at the very
    # beginning of the game startup, which makes this approach infeasible. So this option was
    # introduced to force the key binding reset on next startup.
    B:force_key_reset=false

    # Whether the saved setup is created using Key Binding Patch.
    # DO NOT TRY TO MODIFY THIS MANUALLY! USE THE CONFIG GUI IN GAME INSTEAD!
    B:is_kbp_setup=false
}


