# Configuration file

general {

    "normal infuser settings" {
        # If true, books can be enchanted in the infuser.
        B:"Allow Books"=false

        # Defines which items can have their enchantments modified. UNENCHANTED = only unenchanted items, ALL = all enchantable items.
        # Valid values:
        # UNENCHANTED
        # ALL
        S:"Allow Modifying Enchantments"=UNENCHANTED

        # Defines which items can be repaired. NONE = no repairing, TOOLS = only tools, ARMOR = only armor, TOOLS_AND_ARMOR = tools and armor.
        # Valid values:
        # NONE
        # TOOLS
        # ARMOR
        # TOOLS_AND_ARMOR
        S:"Allow Repairing"=NONE

        ##########################################################################################################
        # costs
        #--------------------------------------------------------------------------------------------------------#
        # Configuration for enchantment costs.
        ##########################################################################################################

        costs {
            # Multiplier applied to the base cost of enchantments.
            # Min: 0.1
            # Max: 10.0
            D:"Cost Multiplier"=1.0

            # The maximum number of experience levels an enchantment can cost.
            # Min: 1
            # Max: 100
            I:"Maximum Cost"=30

            # Multiplier applied to the cost of repairing items.
            # Min: 0.1
            # Max: 10.0
            D:"Repair Cost Multiplier"=0.5
        }

        ##########################################################################################################
        # types
        #--------------------------------------------------------------------------------------------------------#
        # Configuration for allowed enchantment types.
        ##########################################################################################################

        types {
            # If true, enchantments normally only available through anvils can be applied.
            B:"Allow Anvil Enchantments"=false

            # If true, curse enchantments can be applied.
            B:"Allow Curse Enchantments"=false

            # If true, treasure enchantments (like Mending) can be applied.
            B:"Allow Treasure Enchantments"=false

            # If true, enchantments that cannot be discovered in the enchanting table can be applied.
            B:"Allow Undiscoverable Enchantments"=false

            # If true, enchantments that cannot be obtained from villagers can be applied.
            B:"Allow Untradeable Enchantments"=false
        }

    }

    "advanced infuser settings" {
        # If true, books can be enchanted in the infuser.
        B:"Allow Books"=true

        # Defines which items can have their enchantments modified. UNENCHANTED = only unenchanted items, ALL = all enchantable items.
        # Valid values:
        # UNENCHANTED
        # ALL
        S:"Allow Modifying Enchantments"=ALL

        # Defines which items can be repaired. NONE = no repairing, TOOLS = only tools, ARMOR = only armor, TOOLS_AND_ARMOR = tools and armor.
        # Valid values:
        # NONE
        # TOOLS
        # ARMOR
        # TOOLS_AND_ARMOR
        S:"Allow Repairing"=TOOLS_AND_ARMOR

        ##########################################################################################################
        # costs
        #--------------------------------------------------------------------------------------------------------#
        # Configuration for enchantment costs.
        ##########################################################################################################

        costs {
            # Multiplier applied to the base cost of enchantments.
            # Min: 0.1
            # Max: 10.0
            D:"Cost Multiplier"=1.0

            # The maximum number of experience levels an enchantment can cost.
            # Min: 1
            # Max: 100
            I:"Maximum Cost"=20

            # Multiplier applied to the cost of repairing items.
            # Min: 0.1
            # Max: 10.0
            D:"Repair Cost Multiplier"=0.5
        }

        ##########################################################################################################
        # types
        #--------------------------------------------------------------------------------------------------------#
        # Configuration for allowed enchantment types.
        ##########################################################################################################

        types {
            # If true, enchantments normally only available through anvils can be applied.
            B:"Allow Anvil Enchantments"=true

            # If true, curse enchantments can be applied.
            B:"Allow Curse Enchantments"=false

            # If true, treasure enchantments (like Mending) can be applied.
            B:"Allow Treasure Enchantments"=false

            # If true, enchantments that cannot be discovered in the enchanting table can be applied.
            B:"Allow Undiscoverable Enchantments"=false

            # If true, enchantments that cannot be obtained from villagers can be applied.
            B:"Allow Untradeable Enchantments"=false
        }

    }

}


