# Configuration file

general {
    # Format: 'keyword=RRR,GGG,BBB|scaleX,scaleY,scaleZ'
    # Example: '&l&2=0,170,0|1.0,2.0,1.0'
    S:"Keyword-Particle Mappings" <
        §l§2=33,255,33|1.0,4.0,1.0
        §l§e[설치]=255,255,85|1.0,4.0,1.0
        §l§5=182,12,182|2.0,6.0,2.0
        §l§6=255,170,0|3.0,8.0,3.0
     >
    B:"Particles Enabled"=true
}


