# Configuration file

general {
    # Key bindings listed here will be hidden from the key bindings menu.
    # Use this to hide key bindings that are not used by the player.
    S:hide_key_bindings <
        Toggle Raw Input
        cos.key.opencosarmorinventory
        emoticons.keys.stop_emote
        key.metamorph.selector_menu
        key.mount.dismount
        worldeditcuife3.key.cui.options
        MoCreatures GUI
        key.metamorph.survival_menu
        key.loadToolbarActivator
        chunkloaders.keys.open_screen
        worldeditcuife3.key.cui.clear.selection
        emoticons.keys.emote3
        key.summoning
        emoticons.keys.emote4
        key.metamorph.action
        emoticons.keys.emote5
        emoticons.keys.emote6
        emoticons.keys.random
        Rescan Key
        emoticons.keys.emote1
        emoticons.keys.emote2
        key.mod_lavacow.down
        emoticons.keys.reload_emotes
        key.fart.desc
        Up
        key.index
        worldeditcuife3.key.cui.toggle.visibility
        key.mount.descend
        worldeditcuife3.key.distance.toggle.visibility
        Right
        key.pets
        key.mount.inventory
        key.itemzoom.zoom.out
        Read Properties File
        key.itemzoom.zoom.in
        Quest Log
        options.narrator
        key.beastiary
        key.itemzoom.toggle
        key.itemzoom.hold
        WorldEdit Reference
        Down
        Left/Back
        key.mod_lavacow.special
        key.metamorph.demorph
        key.mount.ability
        MoCreatures Dive
        Jump
        worldeditcuife3.key.chunk.toggle.visibility
        key.saveToolbarActivator
        Select
        key.minions
     >
}


