# Configuration file

appearance {
    #  [range: 0.0 ~ 1.0, default: 0.5]
    S:blendStrength=0.5

    #  [default: false]
    B:firstPersonSplashPlane=false

    #  [range: -5.0 ~ 5.0, default: 0.5]
    S:maxSplashPlaneVelocity=0.5

    #  [range: 0.0 ~ 1.0, default: 0.5]
    S:shaderLightPassthrough=0.5

    #  [default: true]
    B:spawnParticles=true

    #  [range: -5.0 ~ 5.0, default: 3.0]
    S:splashPlaneDepth=3.0

    #  [range: -5.0 ~ 5.0, default: 1.0]
    S:splashPlaneGap=1.0

    #  [range: -5.0 ~ 5.0, default: 1.5]
    S:splashPlaneHeight=1.5

    #  [range: -5.0 ~ 5.0, default: 0.0]
    S:splashPlaneOffset=0.0

    #  [range: 0 ~ 10, default: 5]
    I:splashPlaneResolution=5

    #  [range: -5.0 ~ 5.0, default: 0.8]
    S:splashPlaneScale=0.8

    #  [range: -5.0 ~ 5.0, default: 2.0]
    S:splashPlaneWidth=2.0

    #  [default: [0.05], [0.15], [0.2], [0.35], [0.52], [0.6], [0.7], [0.9]]
    S:wakeColorIntervals <
        0.05
        0.15
        0.2
        0.35
        0.52
        0.6
        0.7
        0.9
     >

    # Wake color gradient in ARGB hex [default: [#00000000], [#289399a6], [#649ea5b0], [#b4c4cad1], [#00000000], [#b4c4cad1], [#ffffffff], [#b4c4cad1], [#649ea5b0]]
    S:wakeColors <
        #00000000
        #289399a6
        #649ea5b0
        #b4c4cad1
        #00000000
        #b4c4cad1
        #ffffffff
        #b4c4cad1
        #649ea5b0
     >

    #  [range: 0.0 ~ 1.0, default: 1.0]
    S:wakeOpacity=1.0

    # Valid values: [8, 16, 32] [default: SIXTEEN]
    S:wakeResolution=8
}


debug {
    #  [default: false]
    B:debugColors=false

    #  [default: false]
    B:drawDebugBoxes=false

    #  [range: 1 ~ 6, default: 2]
    I:floodFillDistance=2

    #  [range: 1 ~ 20, default: 2]
    I:floodFillTickDelay=2

    #  [default: false]
    B:showDebugInfo=false
}


general {
    # Valid values: [SIMULATION_AND_PLANES, ONLY_SIMULATION, ONLY_PLANES, DISABLED] [default: SIMULATION_AND_PLANES]
    S:boatSpawning=ONLY_PLANES

    # Disable the mod functionality [default: false]
    B:disableMod=false

    #  [range: 0 ~ 2147483647, default: 20]
    I:initialStrength=20

    # Valid values: [SIMULATION_AND_PLANES, ONLY_SIMULATION, ONLY_PLANES, DISABLED] [default: ONLY_SIMULATION]
    S:itemSpawning=ONLY_PLANES

    # Valid values: [SIMULATION_AND_PLANES, ONLY_SIMULATION, ONLY_PLANES, DISABLED] [default: ONLY_SIMULATION]
    S:mobSpawning=ONLY_PLANES

    # Valid values: [SIMULATION_AND_PLANES, ONLY_SIMULATION, ONLY_PLANES, DISABLED] [default: ONLY_SIMULATION]
    S:otherPlayersSpawning=ONLY_PLANES

    #  [range: 0 ~ 2147483647, default: 100]
    I:paddleStrength=100

    #  [default: true]
    B:pickBoat=true

    # Valid values: [SIMULATION_AND_PLANES, ONLY_SIMULATION, ONLY_PLANES, DISABLED] [default: ONLY_SIMULATION]
    S:playerSpawning=ONLY_PLANES

    #  [range: 0 ~ 2147483647, default: 100]
    I:splashStrength=100

    #  [range: 0.0 ~ 1.0, default: 0.5]
    S:waveDecayFactor=0.5

    #  [range: 0.0 ~ 1.0, default: 0.95]
    S:wavePropagationFactor=0.95
}


